<h2> Welcome </h2>

<%= Link_to ("List Recipients", recipients_path) %> <br>
<%= link_to("Add a Recipient", new_recipient_path) %> <br>
<%= link_to("Make a Payment", '/recipients/add_payment') %><br>
<%= Link_to ("Verify a Payment", '/recipients/gets_payment') %>